NEXT_PUBLIC_SUPABASE_URL=https://dvvlxjnrafnilojqhthl.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImR2dmx4am5yYWZuaWxvanFodGhsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzgzMTAwOTUsImV4cCI6MjA5Mzg4NjA5NX0.45DPIPFYLTSu-AMb6r8b7IYdjY48ZM7EEoz8D6IwGmc
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImR2dmx4am5yYWZuaWxvanFodGhsIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODMxMDA5NSwiZXhwIjoyMDkzODg2MDk1fQ.g5gX0vd6XRUhSGTv2S5qR9_9Hb1iUj1uUOPazWbre64
NEXT_PUBLIC_APP_URL=http://localhost:3000
LINE_CHANNEL_ACCESS_TOKEN=zHOdhlkJkcfWa4Hzm4nFQORzqCogEKj9PDUttOurALA2KjMdl0l9cwhRVRdXhYSFlIVOmrP1vP7DCA3aIt5u4B6CtsrNSW3Gj1Ud8BX5BWKiq1MbJS9GpadBBFBjImJOslCyMGHihEcgq0deVVXmHQdB04t89/1O/w1cDnyilFU=
LINE_CHANNEL_SECRET=c79a32e91ae31d0ea0192a24f57d0e29
LIFF_ID=2005641282-QhrvTgE8
NEXT_PUBLIC_LIFF_ID=https://liff.line.me/2005641282-QhrvTgE8
NEXT_PUBLIC_LIFF_BOOKING_ID=2005641282-QhrvTgE8
NEXT_PUBLIC_LIFF_MEMBER_ID=2005641282-QRGmCc83

# Signup notification email (Resend) 
RESEND_FROM_EMAIL="QueueBooking <noreply@queuebooking.com>"
SIGNUP_NOTIFY_EMAIL=amnart.gl@gmail.com
RESEND_API_KEY=re_B91FJ4ps_AzUJyaAty6E1bDQmTdW2Subc

# Signup notification email (Gmail SMTP + App Password)
# If SMTP_* is set, system will send via SMTP first.
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=amnart.gl@gmail.com
SMTP_PASS=berz vwob qnfe uedt
SMTP_FROM_EMAIL=brambroza@gmail.com
 